@use '@angular/material' as mat;

.detail-block {
  padding: 10px 0;
}

span.mat-content {
  display: block !important;
}

.action-row-left-align {
  justify-content: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
}

.tab-help {
  display: flex;
  align-items: center;
  background-color: #f5f5f6;
  z-index: 1000;

  padding: 8px 16px;
  border-radius: 4px;
  gap: 8px;
  margin-bottom: 16px;

  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.mat-mdc-card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mat-icon {
  font-size: 24px;
}

.tab-main {
  margin-left: -48px;
  margin-right: -48px;
  padding-left: 48px;
  padding-right: 48px;
  width: calc(100% + 96px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}
